


button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #0062cc;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
input {
  border-radius: 25px;
  width: 160px;
  height: 40px;

}
