
button {
  position: relative; left: 50%;
  transform: translateX(-50%);

}
mat-list {
  height: 60%;
  flex-grow: 1;
  overflow: auto;
}

input {
  border-radius: 10%;
  width: 200%;
  height: 50px;

}
div {
  background-color: #686868;
}

mat-card {
  display: flow; flex-direction: column;
  margin: 10px;

}

mat-form-field{

  width: 100%;
}
