  <mat-list>
   <mat-card *ngFor="let Note of notes">

  <mat-card-title>
    {{Note.user}}
  </mat-card-title>
     <mat-card-subtitle>
       {{formatDateMsg(Note.postDate)}}
     </mat-card-subtitle>
     <br>
     <mat-card-content>
       {{Note.msgText}}
     </mat-card-content>
        </mat-card>

  </mat-list>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <mat-card>

  <form [formGroup]="addNoteForm" (ngSubmit)="saveNote()">




     <mat-form-field class="textarea">
      <textarea matInput placeholder="Write message" formControlName="text"></textarea>
    </mat-form-field>


    <br>
<button mat-flat-button id="addButton" color="accent" layout-align="end center" >Send message</button>

   </form>


      </mat-card>


