mat-card {

  background-color: #686868;
  width: 250px;
  height: 350px;
  position: relative; left: 50%; top: 100px;
  transform: translateX(-50%);

}
mat-form-field {

  position: relative; left: 50%;
  transform: translateX(-50%);

}
button {

  position: relative; left: 50%;
  transform: translateX(-50%);
}


mat-form-field input{
  color: white;
}

::placeholder {
  color: white;
}
::-webkit-input-placeholder {
  color: white;
}
::-moz-placeholder {
  color: white;
}
:-ms-input-placeholder {
  color: white;
  opacity: 1;
}
:-moz-placeholder {
  color: white;
  opacity: 1;
}
