<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">


<form [formGroup]="addEventForm" (ngSubmit)="saveEvent()">
  <label>
    Name:
    <input type="text" formControlName="title">
  </label>
  <label>
    Date:
    <input type="date" formControlName="start">
  </label>
  <button mat-flat-button color="accent" type="submit">Submit</button>
</form>
<mat-menu #menu="matMenu"  [xPosition]="" [yPosition]="">
  <button mat-menu-item onclick="consoleTest('Rebeka')">Rebeka</button>
  <button mat-menu-item>Attila</button>
  <button mat-menu-item>Adnan</button>
</mat-menu>
<app-calendar-header
  [(view)]="view"
  [(viewDate)]="viewDate">
</app-calendar-header>

<div class="alert alert-info">
  Click on a day on the view.
  <strong *ngIf="clickedDate">You clicked on this day: {{ clickedDate | date:'medium' }}</strong>
</div>

<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="'month'"
    [viewDate]="viewDate"
    [events]="events"
    [weekStartsOn]="1"
    (dayClicked)="clickedDate = $event.day.date"
    [matMenuTriggerFor]="menu">
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="'week'"
    [viewDate]="viewDate"
    [events]="events"
    (dayClicked)="clickedDate = $event.day.date">

  </mwl-calendar-week-view>
</div>
